In [29]:
import numpy as np 
import pandas as pd 
import requests
from sqlalchemy import create_engine

In [78]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
import json

def connect_to_database(): 
    host="georgia-election-data.cohfciey6luf.us-east-2.rds.amazonaws.com"
    port=3306
    dbname="election_data"
    user="ayush"
    password="electme20214eva"
    conn = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'
                .format(user, password, host, dbname)).connect()
    
    return conn

def lambda_handler(event, context):
    conn = connect_to_database()
    
    if 'queryStringParameters' in event: 
        try: 
            year = int(event['queryStringParameters']["year"])
        except KeyError: 
            year = 2016
            
        try: 
            month = int(event['queryStringParameters']["month"]) 
        except KeyError: 
            month = 11
            
        try: 
            sheet_number = int(event['queryStringParameters']["sheet_number"])
        except KeyError: 
            sheet_number = 2
        
        try:
            result_column = event['queryStringParameters']["result_column"]
        except KeyError:
            result_column = "total_votes"
    else: 
        year = 2016 
        month = 11 
        sheet_number = 2
        result_column="total_votes"
    
    #event validation
    assert year > 1990 & year < 2022 
    assert month > 0 & month < 13
    assert sheet_number > 1 & sheet_number < 350
    assert result_column in ["election_day", "provisional", "absentee_by_mail", "advance_in_person", "total_votes"]
    
    query = """WITH cands AS (SELECT candidate_id, 
        co.contest_id, 
        candidate_name, 
        candidate_party
    FROM 
    contests co JOIN candidates ca ON co.contest_id = ca.contest_id
    WHERE co.sheet_number = {0} AND co.election_year = {1} AND ca.election_month = {2})
    
    SELECT 
        candidate_name,
        candidate_party,
        county_name, 
        {3} 
    FROM results_by_county rbc JOIN cands cad ON rbc.candidate_id = cad.candidate_id
    ORDER BY candidate_name, county_name;""".format(sheet_number, year, month, result_column)
    
    total_results = pd.read_sql_query(query, conn)
    pivoted_results = pd.DataFrame({"county_name": total_results.county_name.unique()})

    for candidate in total_results.candidate_name.unique():
        pivoted_results[candidate.strip()] = total_results[total_results.candidate_name == candidate].reset_index()[result_column]
    
    conn.close()
    
    return {
        'statusCode': 200,
        'body': pivoted_results.to_json()
    }

In [90]:
params = {"year": 2016, "month": 11, "result_column": "total_votes", "sheet_number": 3}
response = requests.get("https://qp4b96543m.execute-api.us-east-2.amazonaws.com/active/get_results", params=params).text
pd.read_json(response)

    county_name  ALLEN BUCKLEY  JIM BARKSDALE  JOHNNY ISAKSON (I)
0       Appling            154           1187                5170
1      Atkinson             65            596                1678
2         Bacon             95            474                3046
3         Baker             29            531                 763
4       Baldwin            464           6787                7796
..          ...            ...            ...                 ...
154   Whitfield           1381           6763               19808
155      Wilcox             70            669                2036
156      Wilkes             99           1525                2507
157   Wilkinson             79           1616                2266
158       Worth            160           1839                5884

[159 rows x 4 columns]

In [133]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
import json

def connect_to_database(): 
    host=""
    port=3306
    dbname="election_data"
    user="ayush"
    password=""
    conn = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'
                .format(user, password, host, dbname)).connect()
    
    return conn

def lambda_handler(event):
    """
    Returns voter turnout by county on zero to three conditions across gender, race, and/or 
    age group. Currently only supports single selection (i.e. single race or all). 
    """
    if 'queryStringParameters' in event: 
        params = event['queryStringParameters']
        gender = params["gender"] if "gender" in params else None 
        race = params["race"] if "race" in params else None 
        age_grp = params["age_grp"] if "age_grp" in params else None
    else: 
        gender = None
        race = None
        age_grp = None
        
    #input validation 
    assert gender in [None, "MALE", "FEMALE"]
    assert race in [None, "BLACK", "WHITE", "ASIA-PI", "NATIVE-AM", "HISP-LT"]
    assert age_grp in [None, "18-24", "25-29", "30-34", "35-39", "40-44", "45-49", "50-54", "55-59", "60-64", "65-OVER"]
    
    where_condn = ""
    if gender or race or age_grp:
        where_condn = "WHERE "
        gender_condn = f"gender = '{gender}'" if gender is not None else None
        age_condn = f"age_grp = '{age_grp}'" if age_grp is not None else None
        race_condn = f"race = '{race}'" if race is not None else None
        where_condn += (" AND ".join([cond for cond in [gender_condn, age_condn, race_condn] if cond]))
    
    query = """SELECT county_name, SUM(voted)/SUM(registered) AS turnout FROM county_turnout 
                {0}
                GROUP BY county_name 
                ORDER BY county_name;""".format(where_condn)
    
    conn = connect_to_database()
    turnout = pd.read_sql_query(query, conn)
    conn.close()
    
    return {
        'statusCode': 200,
        'body': turnout.to_json()
    }
    
    
params = {"race": "WHITE", "age_grp": "18-24"}
event = {}
lambda_handler(event)

{'statusCode': 200,
 'body': '{"county_name":{"0":"Appling","1":"Atkinson","2":"Bacon","3":"Baker","4":"Baldwin","5":"Banks","6":"Barrow","7":"Bartow","8":"Ben Hill","9":"Berrien","10":"Bibb","11":"Bleckley","12":"Brantley","13":"Brooks","14":"Bryan","15":"Bulloch","16":"Burke","17":"Butts","18":"Calhoun","19":"Camden","20":"Candler","21":"Carroll","22":"Catoosa","23":"Charlton","24":"Chatham","25":"Chattahoochee","26":"Chattooga","27":"Cherokee","28":"Clarke","29":"Clay","30":"Clayton","31":"Clinch","32":"Cobb","33":"Coffee","34":"Colquitt","35":"Columbia","36":"Cook","37":"Coweta","38":"Crawford","39":"Crisp","40":"Dade","41":"Dawson","42":"Decatur","43":"DeKalb","44":"Dodge","45":"Dooly","46":"Dougherty","47":"Douglas","48":"Early","49":"Echols","50":"Effingham","51":"Elbert","52":"Emanuel","53":"Evans","54":"Fannin","55":"Fayette","56":"Floyd","57":"Forsyth","58":"Franklin","59":"Fulton","60":"Gilmer","61":"Glascock","62":"Glynn","63":"Gordon","64":"Grady","65":"Greene","66":"Gwinnett","67":"Habersham","68":"Hall","69":"Hancock","70":"Haralson","71":"Harris","72":"Hart","73":"Heard","74":"Henry","75":"Houston","76":"Irwin","77":"Jackson","78":"Jasper","79":"Jeff Davis","80":"Jefferson","81":"Jenkins","82":"Johnson","83":"Jones","84":"Lamar","85":"Lanier","86":"Laurens","87":"Lee","88":"Liberty","89":"Lincoln","90":"Long","91":"Lowndes","92":"Lumpkin","93":"Macon","94":"Madison","95":"Marion","96":"McDuffie","97":"McIntosh","98":"Meriwether","99":"Miller","100":"Mitchell","101":"Monroe","102":"Montgomery","103":"Morgan","104":"Murray","105":"Muscogee","106":"Newton","107":"Oconee","108":"Oglethorpe","109":"Paulding","110":"Peach","111":"Pickens","112":"Pierce","113":"Pike","114":"Polk","115":"Pulaski","116":"Putnam","117":"Quitman","118":"Rabun","119":"Randolph","120":"Richmond","121":"Rockdale","122":"Schley","123":"Screven","124":"Seminole","125":"Spalding","126":"Stephens","127":"Stewart","128":"Sumter","129":"Talbot","130":"Taliaferro","131":"Tattnall","132":"Taylor","133":"Telfair","134":"Terrell","135":"Thomas","136":"Tift","137":"Toombs","138":"Towns","139":"Treutlen","140":"Troup","141":"Turner","142":"Twiggs","143":"Union","144":"Upson","145":"Walker","146":"Walton","147":"Ware","148":"Warren","149":"Washington","150":"Wayne","151":"Webster","152":"Wheeler","153":"White","154":"Whitfield","155":"Wilcox","156":"Wilkes","157":"Wilkinson","158":"Worth"},"turnout":{"0":0.6338,"1":0.5942,"2":0.6415,"3":0.6705,"4":0.6523,"5":0.6806,"6":0.6444,"7":0.612,"8":0.6196,"9":0.6107,"10":0.6224,"11":0.7047,"12":0.6162,"13":0.6187,"14":0.5921,"15":0.5835,"16":0.632,"17":0.6587,"18":0.6597,"19":0.5451,"20":0.657,"21":0.6278,"22":0.6069,"23":0.6419,"24":0.571,"25":0.3248,"26":0.6061,"27":0.6865,"28":0.5871,"29":0.6766,"30":0.5346,"31":0.592,"32":0.6604,"33":0.6012,"34":0.5777,"35":0.6431,"36":0.6313,"37":0.6575,"38":0.6643,"39":0.5942,"40":0.5719,"41":0.7101,"42":0.5982,"43":0.6036,"44":0.6324,"45":0.6057,"46":0.5344,"47":0.6306,"48":0.6279,"49":0.6266,"50":0.6287,"51":0.6528,"52":0.6137,"53":0.6511,"54":0.6681,"55":0.7076,"56":0.6207,"57":0.7137,"58":0.6578,"59":0.5707,"60":0.6765,"61":0.722,"62":0.5985,"63":0.62,"64":0.6095,"65":0.7175,"66":0.6286,"67":0.6697,"68":0.6571,"69":0.603,"70":0.6524,"71":0.6841,"72":0.6628,"73":0.6167,"74":0.6509,"75":0.6071,"76":0.6646,"77":0.6927,"78":0.6644,"79":0.6135,"80":0.6418,"81":0.5934,"82":0.6855,"83":0.6941,"84":0.6449,"85":0.562,"86":0.7023,"87":0.6513,"88":0.4621,"89":0.6976,"90":0.4981,"91":0.5666,"92":0.6676,"93":0.5994,"94":0.6862,"95":0.593,"96":0.6377,"97":0.6484,"98":0.6274,"99":0.618,"100":0.601,"101":0.6928,"102":0.6732,"103":0.7479,"104":0.6046,"105":0.5185,"106":0.6251,"107":0.7381,"108":0.7241,"109":0.6644,"110":0.6031,"111":0.6813,"112":0.6524,"113":0.7114,"114":0.6328,"115":0.6401,"116":0.6876,"117":0.6487,"118":0.6986,"119":0.6501,"120":0.559,"121":0.6254,"122":0.6943,"123":0.6164,"124":0.5939,"125":0.6068,"126":0.6027,"127":0.6563,"128":0.6003,"129":0.7006,"130":0.7172,"131":0.6291,"132":0.6743,"133":0.6263,"134":0.6283,"135":0.6184,"136":0.6109,"137":0.6093,"138":0.7363,"139":0.6395,"140":0.5961,"141":0.6132,"142":0.6501,"143":0.7225,"144":0.6578,"145":0.5835,"146":0.6716,"147":0.6144,"148":0.6457,"149":0.6646,"150":0.6178,"151":0.7061,"152":0.6867,"153":0.6792,"154":0.6231,"155":0.6453,"156":0.6764,"157":0.6951,"158":0.638}}'}

In [143]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
import json

def connect_to_database(): 
    host="georgia-election-data.cohfciey6luf.us-east-2.rds.amazonaws.com"
    port=3306
    dbname="election_data"
    user="ayush"
    password="electme20214eva"
    conn = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'
                .format(user, password, host, dbname)).connect()
    
    return conn

def lambda_handler(event):
    """
    Returns voter turnout on a single county on a single axis. 
    """
    if 'queryStringParameters' in event and event['queryStringParameters'] is not None:      
        try: 
            year = int(event['queryStringParameters']["year"])
        except KeyError: 
            year = 2016

        try: 
            month = int(event['queryStringParameters']["month"]) 
        except KeyError: 
            month = 11
        try: 
            county = event['queryStringParameters']["county_name"]
        except KeyError: 
            county = 'Fulton'
        try: 
            axis = event['queryStringParameters']["axis"]
        except KeyError: 
            axis = 'age_grp' 
        try: 
            metric = event['queryStringParameters']["metric"]
        except KeyError: 
            metric = "voted"
    else: 
        year = 2016
        month = 11
        county = 'Fulton'
        axis = 'age_grp'
        metric = 'voted'

    metrics =  ["voted", "registered", "turnout"]

    #input validation 
    assert county in ["Appling","Atkinson","Bacon","Baker","Baldwin","Banks","Barrow","Bartow","Ben Hill",
        "Berrien","Bibb","Bleckley","Brantley","Brooks","Bryan","Bulloch","Burke","Butts","Calhoun","Camden",
        "Candler","Carroll","Catoosa","Charlton","Chatham","Chattahoochee","Chattooga","Cherokee","Clarke","Clay",
        "Clayton","Clinch","Cobb","Coffee","Colquitt","Columbia","Cook","Coweta","Crawford","Crisp","Dade","Dawson",
        "Decatur","DeKalb","Dodge","Dooly","Dougherty","Douglas","Early","Echols","Effingham","Elbert","Emanuel",
        "Evans","Fannin","Fayette","Floyd","Forsyth","Franklin","Fulton","Gilmer","Glascock","Glynn","Gordon",
        "Grady","Greene","Gwinnett","Habersham","Hall","Hancock","Haralson","Harris","Hart","Heard","Henry","Houston",
        "Irwin","Jackson","Jasper","Jeff Davis","Jefferson","Jenkins","Johnson","Jones","Lamar","Lanier","Laurens",
        "Lee","Liberty","Lincoln","Long","Lowndes","Lumpkin","Macon","Madison","Marion","McDuffie","McIntosh","Meriwether",
        "Miller","Mitchell","Monroe","Montgomery","Morgan","Murray","Muscogee","Newton","Oconee","Oglethorpe","Paulding",
        "Peach","Pickens","Pierce","Pike","Polk","Pulaski","Putnam","Quitman","Rabun","Randolph","Richmond","Rockdale",
        "Schley","Screven","Seminole","Spalding","Stephens","Stewart","Sumter","Talbot","Taliaferro","Tattnall","Taylor",
        "Telfair","Terrell","Thomas","Tift","Toombs","Towns","Treutlen","Troup","Turner","Twiggs","Union","Upson","Walker",
        "Walton","Ware","Warren","Washington","Wayne","Webster","Wheeler","White","Whitfield","Wilcox","Wilkes","Wilkinson",
        "Worth"]
    assert year > 1990 and year < 2022
    assert month > 0 and month < 13 
    assert axis in ["age_grp", "gender", "race"]
    assert metric in metrics
    
    metric_strings = ["SUM(voted)", "SUM(registered)", "SUM(voted)/SUM(registered)"]
    
    query = """SELECT {0}, {2} AS {3}
                FROM county_turnout
                WHERE county_name = '{1}'
                GROUP BY {0} 
                ORDER BY {0}; 
                    """.format(axis, county, metric_strings[metrics.index(metric)], metric)
    
    conn = connect_to_database()
    turnout = pd.read_sql_query(query, conn)
    conn.close()
    
    return {
        'statusCode': 200,
        'body': turnout.to_json()
    }

    
params = {"county_name": "Appling", "axis": "gender", "metric": "voted"}
event = {'queryStringParameters': params}
lambda_handler(event)

{'statusCode': 200,
 'body': '{"gender":{"0":"FEMALE","1":"MALE","2":"UNKNOWN"},"voted":{"0":3925.0,"1":3184.0,"2":0.0}}'}

In [136]:
import numpy as np 
import pandas as pd 
from sqlalchemy import create_engine
import json

def connect_to_database(): 
    host="georgia-election-data.cohfciey6luf.us-east-2.rds.amazonaws.com"
    port=3306
    dbname="election_data"
    user="ayush"
    password="electme20214eva"
    conn = create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'
                .format(user, password, host, dbname)).connect()
    
    return conn

def lambda_handler(event):
    """
    Returns voter turnout by county on zero to three conditions across gender, race, and/or 
    age group. Currently only supports single selection (i.e. single race or all). 
    """
    if 'queryStringParameters' in event and event['queryStringParameters'] is not None:      
        try: 
            year = int(event['queryStringParameters']["year"])
        except KeyError: 
            year = 2016
        try: 
            month = int(event['queryStringParameters']["month"]) 
        except KeyError: 
            month = 11
        try: 
            county = event['queryStringParameters']["county_name"]
        except KeyError: 
            county = 'Fulton'
        try axis = event['queryStringParameters']["county_name"]
    else: 
        year = 2016
        month = 11
        county = 'Fulton'

        
    #input validation 
    assert county in ["Appling","Atkinson","Bacon","Baker","Baldwin","Banks","Barrow","Bartow","Ben Hill",
        "Berrien","Bibb","Bleckley","Brantley","Brooks","Bryan","Bulloch","Burke","Butts","Calhoun","Camden",
        "Candler","Carroll","Catoosa","Charlton","Chatham","Chattahoochee","Chattooga","Cherokee","Clarke","Clay",
        "Clayton","Clinch","Cobb","Coffee","Colquitt","Columbia","Cook","Coweta","Crawford","Crisp","Dade","Dawson",
        "Decatur","DeKalb","Dodge","Dooly","Dougherty","Douglas","Early","Echols","Effingham","Elbert","Emanuel",
        "Evans","Fannin","Fayette","Floyd","Forsyth","Franklin","Fulton","Gilmer","Glascock","Glynn","Gordon",
        "Grady","Greene","Gwinnett","Habersham","Hall","Hancock","Haralson","Harris","Hart","Heard","Henry","Houston",
        "Irwin","Jackson","Jasper","Jeff Davis","Jefferson","Jenkins","Johnson","Jones","Lamar","Lanier","Laurens",
        "Lee","Liberty","Lincoln","Long","Lowndes","Lumpkin","Macon","Madison","Marion","McDuffie","McIntosh","Meriwether",
        "Miller","Mitchell","Monroe","Montgomery","Morgan","Murray","Muscogee","Newton","Oconee","Oglethorpe","Paulding",
        "Peach","Pickens","Pierce","Pike","Polk","Pulaski","Putnam","Quitman","Rabun","Randolph","Richmond","Rockdale",
        "Schley","Screven","Seminole","Spalding","Stephens","Stewart","Sumter","Talbot","Taliaferro","Tattnall","Taylor",
        "Telfair","Terrell","Thomas","Tift","Toombs","Towns","Treutlen","Troup","Turner","Twiggs","Union","Upson","Walker",
        "Walton","Ware","Warren","Washington","Wayne","Webster","Wheeler","White","Whitfield","Wilcox","Wilkes","Wilkinson",
        "Worth"]
    
    query = """SELECT co.contest_name, co.sheet_number, SUM(total_votes) AS total_votes
                FROM candidates ca 
                JOIN contests co ON ca.contest_id = co.contest_id
                JOIN results_by_county rbc ON ca.candidate_id = rbc.candidate_id
                WHERE county_name = '{0}' AND co.election_month = 11 AND co.election_year = 2016
                GROUP BY contest_name
                ORDER BY total_votes DESC;""".format(county)
    
    conn = connect_to_database()
    turnout = pd.read_sql_query(query, conn)
    conn.close()
    
    return {
        'statusCode': 200,
        'body': turnout.to_json()
    }

"Appling",
"Atkinson",
"Bacon",
"Baker",
"Baldwin",
"Banks",
"Barrow",
"Bartow",
"Ben Hill",
"Berrien",
"Bibb",
"Bleckley",
"Brantley",
"Brooks",
"Bryan",
"Bulloch",
"Burke",
"Butts",
"Calhoun",
"Camden",
"Candler",
"Carroll",
"Catoosa",
"Charlton",
"Chatham",
"Chattahoochee",
"Chattooga",
"Cherokee",
"Clarke",
"Clay",
"Clayton",
"Clinch",
"Cobb",
"Coffee",
"Colquitt",
"Columbia",
"Cook",
"Coweta",
"Crawford",
"Crisp",
"Dade",
"Dawson",
"Decatur",
"DeKalb",
"Dodge",
"Dooly",
"Dougherty",
"Douglas",
"Early",
"Echols",
"Effingham",
"Elbert",
"Emanuel",
"Evans",
"Fannin",
"Fayette",
"Floyd",
"Forsyth",
"Franklin",
"Fulton",
"Gilmer",
"Glascock",
"Glynn",
"Gordon",
"Grady",
"Greene",
"Gwinnett",
"Habersham",
"Hall",
"Hancock",
"Haralson",
"Harris",
"Hart",
"Heard",
"Henry",
"Houston",
"Irwin",
"Jackson",
"Jasper",
"Jeff Davis",
"Jefferson",
"Jenkins",
"Johnson",
"Jones",
"Lamar",
"Lanier",
"Laurens",
"Lee",
"Liberty",
"Lincoln",
"Long",
"Lowndes",
"Lumpkin",
"Macon",
"Madison",
"Marion",
"McDuffie",
"McIntosh",
"Meriwether",
"Miller",
"Mitchell",
"Monroe",
"Montgomery",
"Morgan",
"Murray",
"Muscogee",
"Newton",
"Oconee",
"Oglethorpe",
"Paulding",
"Peach",
"Pickens",
"Pierce",
"Pike",
"Polk",
"Pulaski",
"Putnam",
"Quitman",
"Rabun",
"Randolph",
"Richmond",
"Rockdale",
"Schley",
"Screven",
"Seminole",
"Spalding",
"Stephens",
"Stewart",
"Sumter",
"Talbot",
"Taliaferro",
"Tattnall",
"Taylor",
"Telfair",
"Terrell",
"Thomas",
"Tift",
"Toombs",
"Towns",
"Treutlen",
"Troup",
"Turner",
"Twiggs",
"Union",
"Upson",
"Walker",
"Walton",
"Ware",
"Warren",
"Washington",
"Wayne",
"Webster",
"Wheeler",
"White",
"Whitfield",
"Wilcox",
"Wilkes",
"Wilkinson",
"Worth",