In [55]:
import pandas as pd 
import numpy as np 
import glob

In [66]:
county_files = glob.glob("../data/2016NovemberGeneral/November8_2016(Age)/*.xlsx")
county_turnout = pd.DataFrame({"county_name": [], 
                           "race": [], 
                           "gender": [], 
                           "age_grp": [], 
                           "registered": [], 
                           "voted": [], 
                           "turnout_percent": []})

for file_name in county_files: 
    county_name = file_name[file_name.find("(Age)\\") + 6: file_name.find(".xlsx")]
    county_name = county_name.capitalize() 
    
    county_details = pd.read_excel(file_name)
    
    ##create race_gender_table
    race_gender_regex = r"(.*) (MALE|FEMALE|UNKNOWN)"
    race_gender_table = county_details.loc[0].dropna().str.extract(race_gender_regex).reset_index().drop("index", axis = 1)
    race_gender_table = race_gender_table.drop([0, 1, 23], axis = 0).reset_index().drop("index", axis = 1)
    race_gender_table = race_gender_table.rename({0: "race", 1: "gender"}, axis = 1)
    race_gender_table.iat[20, 0] = "UNKNOWN"
    race_gender_table.iat[20, 1] = "UNKNOWN"
    race_gender_table
    
    age_break = county_details.iloc[:, 0].drop([0,1])
    for i in range(len(race_gender_table)): 
        current_race = race_gender_table.iloc[i].race
        current_gender = race_gender_table.iloc[i].gender 
        start_index = i*3 + 2 
        end_index = start_index + 3

        single_race_gender = county_details.iloc[:, start_index:end_index]
        single_race_gender = single_race_gender.drop([0, 1], axis = 0)

        new_names = ["registered", "voted", "turnout_percent"]
        name_dict = {}
        for j, col in enumerate(single_race_gender.columns.values): 
            name_dict[col] = new_names[j]

        single_race_gender = single_race_gender.rename(name_dict, axis = 1)
        single_race_gender["race"] = current_race 
        single_race_gender["gender"] = current_gender
        single_race_gender["age_grp"] = age_break
        single_race_gender["county_name"] = county_name
        county_turnout = county_turnout.append(single_race_gender)

county_turnout

C:\Users\Ayush\.conda\envs\geomapping\lib\site-packages\openpyxl\styles\stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   county_name     race   gender  age_grp registered voted turnout_percent
2      Appling    BLACK     MALE    18-24        120    18           15.00
3      Appling    BLACK     MALE    25-29        106    14           13.21
4      Appling    BLACK     MALE    30-34         81    21           25.93
5      Appling    BLACK     MALE    35-39         62    14           22.58
6      Appling    BLACK     MALE    40-44         64    27           42.19
..         ...      ...      ...      ...        ...   ...             ...
7        Worth  UNKNOWN  UNKNOWN    45-49          1     1             100
8        Worth  UNKNOWN  UNKNOWN    50-54          0     0               0
9        Worth  UNKNOWN  UNKNOWN    55-59          0     0               0
10       Worth  UNKNOWN  UNKNOWN    60-64          0     0               0
11       Worth  UNKNOWN  UNKNOWN  65-OVER          0     0               0

[33390 rows x 7 columns]

In [67]:
county_turnout["election_year"] = 2016
county_turnout["election_month"] = 11 
county_turnout

,county_name,race,gender,age_grp,registered,voted,turnout_percent,election_year,election_month
2,Appling,BLACK,MALE,18-24,120,18,15.00,2016,11
3,Appling,BLACK,MALE,25-29,106,14,13.21,2016,11
4,Appling,BLACK,MALE,30-34,81,21,25.93,2016,11
5,Appling,BLACK,MALE,35-39,62,14,22.58,2016,11
6,Appling,BLACK,MALE,40-44,64,27,42.19,2016,11
...,...,...,...,...,...,...,...,...,...
7,Worth,UNKNOWN,UNKNOWN,45-49,1,1,100,2016,11
8,Worth,UNKNOWN,UNKNOWN,50-54,0,0,0,2016,11
9,Worth,UNKNOWN,UNKNOWN,55-59,0,0,0,2016,11
10,Worth,UNKNOWN,UNKNOWN,60-64,0,0,0,2016,11
11,Worth,UNKNOWN,UNKNOWN,65-OVER,0,0,0,2016,11

In [69]:
county_turnout.to_csv("../data/final_tables/county_turnout.csv", index = False)